<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HYIT-OnlineJudge</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div th:include="head :: headname"></div>

    <div class="container-fliud" style="margin:0;">
        <div class="sidebar col-md-2" style="border-right: 1px solid gray;">
            <div>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="/success/student">考试作答</a></li>
                    <li role="presentation" class="active"><a href="#">成绩查询</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-10">
            <table class="table">
                <thead>
                    <th>考试名称</th>
                    <th>提交时间</th>
                    <th>总分</th>
                    <th>选择题</th>
                    <th>判断题</th>
                    <th>填空题</th>
                    <th>阅读程序题</th>
                    <th>程序填空题</th>
                    <th>程序改错题</th>
                    <th>编程题</th>
                </thead>
                <tbody>
                <tr th:each="log : ${allLogs}">
                    <td th:text="${quizNames.get(logStat.index)}"></td>
                    <td th:text="${#dates.format(log.submitTime,'dd/MMM/yyyy HH:mm')}"></td>
                    <td th:text="${log.score}"></td>
                    <td th:text="${log.singlechoiceCount}"></td>
                    <td th:text="${log.trueorfalseCount}"></td>
                    <td th:text="${log.fillintheblankCount}"></td>
                    <td th:text="${log.readprogramCount}"></td>
                    <td th:text="${log.programfillintheblankCount}"></td>
                    <td th:text="${log.correctmistakeCount}"></td>
                    <td th:text="${log.programingCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>